



.loginContainer{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 30%;
    color: #ffffff;
}

.loginContainer h1{
    background-image: linear-gradient(to left, rgb(13, 4, 153), rgb(6, 129, 245), rgb(136, 208, 230), blue, rgb(156, 7, 156), rgb(55, 13, 241), rgb(173, 8, 91));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.loginContainer label{
    margin-top: 2%;
    padding-left: 1%;
}

.loginInput{
    margin-top: 3%;
    padding-left: 1%;
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 7px;
    box-shadow: 0 3px 10px #fc9af6;
}

#passwordInputContainer{
    display: flex;
    flex-direction: row;
    width: 101.5%;
}

.icon{
    position: absolute;
    margin-left: 26%;
    margin-top: 2%;
    z-index: 1;
    color: #C209C1;
}

.loginSubmit{
    margin: auto;
    margin-top: 7%;
    margin-bottom: 5%;
    height: 40px;
    width: 70%;
    border: none;
    border-radius: 20px;
    background-color: #fc9af6;
    color: #ffffff;
    font-weight: 800;
    transition: 0.8s ease-out 200ms;
}

.loginSubmit:hover{
    background-color: #ffffff;
    color: #C209C1;
    transition: 0.8s ease-out 200ms;
}

.loginLink{
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 5%;
}

.switchToReg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}