
.container{
    min-height: 130vh;
    height: auto;
    width: 100%;
    flex-direction: column;
}

.userHomeContainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 15%;
}

.avatarContainer{
    width: 30%;
}

.avatar{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    color: #ffffff
}

