



.libraryPic{
    opacity: 0.5;
    background-repeat: repeat-x;
}

.mainComponentContainer{
    position: relative;
    width: 100%;
    min-height: 250vh;
}

.contentContainerOfMain{
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
}

.contentContainerOfMain h1{
    margin: auto;
}

.booksRange{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    justify-content: space-between;
}

.aRange{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8%;
    transition: 0.8s ease-out 200ms;
}

.viewMoreBtn{
    margin: auto;
    margin-top: 7%;
    margin-bottom: 5%;
    height: 40px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #fc9af6;
    color: #ffffff;
    font-weight: 800;
    transition: 0.8s ease-out 200ms;
}

.viewMoreBtn:hover{
    background-color: #ffffff;
    color: #C209C1;
    transition: 0.8s ease-out 200ms;
}