
.footerMainContainer{
    height: 170px;
    width: 100%;
    margin-top: 40%;
    background-color: #ffffff;
}

.footerSecondContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.footerSecondContainer h3{
    color: #C209C1;
}

.footerDiv{
    display: flex;
    flex-direction: column;
}

#helpfulLinks a{
    text-decoration: none;
    color: #000000;
}